#==============================================================
#	SET ENVIRONMENT
#==============================================================
	<IfModule mod_env.c>
		SetEnv CI_ENV production
		SetEnv CI_TIME Asia/Jakarta
	</IfModule>
#--------------------------------------------------------------#

#==============================================================
#	REWRITE URL
#==============================================================
	RewriteEngine on
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule .* index.php/ [PT,L]
	RewriteRule ^(\.env) - [F,L,NC]
#--------------------------------------------------------------#
